{# Questo file contiene la logica per visualizzare il resoconto scommesse di un utente #}
<!-- Tab Navigation -->
<ul class="nav nav-tabs mb-3" id="betsTab" role="tablist">
    {# ... (il tuo codice per le tab Attive/Storico) ... #}
</ul>
<!-- Tab Content -->
<div class="tab-content" id="betsTabContent">
    <div class="tab-pane fade show active" id="active" role="tabpanel">
        {# ... (il tuo codice per "Ti Devono", "Devi Pagare", "Saldo") ... #}
    </div>
    <div class="tab-pane fade" id="history" role="tabpanel">
        {# ... (il tuo codice per "Riscosse" e "Pagate") ... #}
    </div>
</div>
<!-- Statistiche Totali -->
<div class="card-footer ...">
    {# ... (il tuo codice per le statistiche totali) ... #}
</div>