{# Questo file è il "centralino" intelligente per ogni elemento del feed #}

{% if item.__class__.__name__ == 'Post' %}
    {# È un oggetto di tipo Post. Ora controlliamo la sua categoria. #}

    {% set post = item %} {# Rinominiamo per chiarezza #}

    {% if post.post_category == 'user_post' %}
        {# È un post standard di un utente #}
        {% include 'partials/feed_items/_user_post.html' with context %}
        
    {% elif post.post_category == 'admin_announcement' or post.post_category == 'weekly_tip' %}
        {# È un annuncio o un consiglio speciale #}
        {% include 'partials/feed_items/_special_post.html' with context %}
        
    {% elif post.post_category == 'system_record' %}
        {# È un post automatico per un nuovo record #}
        {% include 'partials/feed_items/_system_record.html' with context %}
        
    {% elif post.post_category == 'system_badge' %}
        {# È un post automatico per un nuovo badge #}
        {% include 'partials/feed_items/_system_badge.html' with context %}
        
    {% endif %}
    
{% elif item.__class__.__name__ == 'Activity' %}
    {# È un oggetto di tipo Activity #}
    {% include 'partials/feed_items/_activity_feed_item.html' with context %}

{% endif %}